# This is the service file for gunicorn
[Unit]
Description=gunicorn daemon

[Service]
Type=notify
RuntimeDirectory=gunicorn
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/usr/bin/gunicorn_sd.sh

[Install]
WantedBy=multi-user.target
