# This is the service file for gunicorn
[Unit]
Description=gunicorn daemon

[Service]
Type=simple
ExecStart=/usr/bin/gunicorn_sd.sh

[Install]
WantedBy=multi-user.target
